-f https://download.pytorch.org/whl/torch_stable.html
appdirs
click
Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
protobuf
pyparsing
six
Werkzeug
scipy
Pillow
h5py
scikit-image
opencv-python
torch==1.10.2
torchvision==0.13.0
fastcore